body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 1.5625rem;
  display: inline-block;
  height: 12.5rem;
  width: 12.5rem;
  border: 0.625rem solid black;
  border-radius: 20%;
}

.score-box {
  visibility: hidden;
  display: block;
  width: 20rem;
  height: 20rem;
  margin: auto;
  background-color: #FEF2BF;
  opacity: 100%;
  border-radius: 12%;
  border: 0.85rem ridge grey;
  position: absolute;
  top: 40%;
  right: 4%;
  z-index: 1;
}

#score-title {
  font-family: 'Press Start 2P';
  font-size: 2.25rem;
  font-weight: bold;
  font-style: italic;
  color: chocolate;
}


#p1, #p2 {
  color: purple;
  font-size: 1.875rem;
  font-weight: bold;
  font-family: serif;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/********************** For mobile screen **************************/
@media (max-width: 900px) {
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin: 5%;
    color: #FEF2BF;
  }

  .start-btn {
    margin: 4rem auto 1.5rem;
    display: block;
    background-color: #fdbaf8;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 48%;
    border: 0.4rem solid #FFC947;
  }

  #start {
    position: static;
    padding-top: 40%;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    color: #aa2ee6;
    font-weight: bold;
  }

  .container {
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 15%;
  }

  .btn {
    margin: 1.5rem 1.5rem;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    border: 0.4rem solid black;
    border-radius: 20%;
    transform: rotate(45deg);
  }

  .score-box {
    visibility: hidden;
    display: block;
    width: 10rem;
    height: 180px;
    margin: auto;
    border: 0.45rem inset grey;
    background-color: #FEF2BF;
    border-radius: 15%;
    position: absolute;
    top: 30%;
    right: 2%;
    z-index: 1;
  }
  #score-title {
    font-family: 'Press Start 2P';
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
    color: chocolate;
  }
  #p1, #p2 {
    color: purple;
    font-size: 1rem;
    font-weight: bold;
    font-family: serif;
  }
}

/******************  Tablet Size  *********************/
@media (min-width: 901px) and (max-width: 1120px) {
  .start-btn {
    display: block;
    margin: 2.5rem auto 1.5rem;
    background-color: blue;
    width: 30%;
    border-radius: 12%;
    border: 0.6rem groove gold;
    height: 4rem;
  }

  #start {
    padding-top: 15%;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.125rem;
    color: #FEF2BF;
  }

  .container {
    display: block;
    width: 50%;
    margin: auto;
  }

  .btn {
    margin: 1.5625rem;
    display: inline-block;
    height: 8.5rem;
    width: 8.5rem;
    border: 0.625rem solid black;
    border-radius: 20%;
    transform: rotate(22.5deg);
  }

  .score-box {
    visibility: hidden;
    display: block;
    width: 20rem;
    height: 20rem;
    margin: auto;
    background-color: #FEF2BF;
    border-radius: 10%;
    position: absolute;
    top: 40%;
    right: 4%;
    z-index: 1;
  }
}

@media (min-width: 1121px) {
  .start-btn {
    visibility: hidden;
  }
}
